body {
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 15%;
    gap: 5px;
}

.screen {
    font-size: 70px;
    width: 348px;
    height: 80px;
    text-align: right;
}

/* BUTTON SETTINGS */
.buttons{
    display: flex;
    gap: 15px;
}

.numpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.operators{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.equals {
    grid-column: 2/ span 2;
    grid-row: 4 / 4;
}


button {
    padding: 35px;
    font-size: larger;
    color: white;
    background-color: rgb(51, 51, 51);
    border-style: none;
    border-radius: 8px;
}

.clear-button {
    width: 348px;
}
